<div class="panel panel-default s_login mb-4">
    <div class="panel-body text-center d-flex justify-content-between">
        <div class="pull-left">
            <a id="kakao" href="/auth/kakao">
                <img class="kakao_logo" src="/auth/img/kakao_login.png"
                     onmouseover="this.src='/auth/img/kakao_login_ov.png'"
                     onmouseleave="this.src='/auth/img/kakao_login.png'" height="45">
            </a>
        </div>
        <div class="pull-right">
            <a id="facebook" href="/auth/facebook">
                <img class="facebook_logo" src="/auth/img/facebook_login.png" height="45">
            </a>
        </div>
    </div>
</div>