body { padding-top: 80px; }

@font-face {
    font-family: 'Nanum Gothic'; font-style: normal; font-weight: 400;
    src: url('../public/NanumGothic-Regular.eot');
    src: local('NanumGothic'), 
    url('../public/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'), 
    url('../public/NanumGothic-Regular.woff2') format('woff2'), 
    url('../public/NanumGothic-Regular.woff') format('woff'), 
    url('../public/NanumGothic-Regular.ttf') format('truetype');
}

h1, p, a { font-family: 'Nanum Gothic'; }

.control-label { color: red; }